<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Gentelella Alela! | </title>


    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/lib/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/lib/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/lib/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/lib/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/lib/Flot/jquery.flot.js"></script>
    <script src="~/lib/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/Flot/jquery.flot.time.js"></script>
    <script src="~/lib/Flot/jquery.flot.stack.js"></script>
    <script src="~/lib/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/lib/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/lib/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/lib/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/lib/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/lib/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/bootstrap-table-1.11.0/dist/bootstrap-table.js"></script>
    <script src="~/lib/bootstrap-table-1.11.0/dist/extensions/export/bootstrap-table-export.js"></script>
    <script src="~/lib/bootstrap-table-1.11.0/dist/tableExport.js"></script>
    <script src="~/lib/bootstrap-table-1.11.0/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.nonblock.js"></script>

    <script src="~/js/app.js"></script>
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />*@
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/lib/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/lib/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/lib/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">

    <link href="~/lib/bootstrap-table-1.11.0/dist/bootstrap-table.css" rel="stylesheet" />

    <link href="~/lib/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/lib/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/lib/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- 左边menu -->
            @Html.Partial("~/Views/Shared/_Menu.cshtml")
            <!-- /左边menu -->
            <!-- 头部开始 -->
            @Html.Partial("~/Views/Shared/_Head.cshtml")
            <!-- /头部结束 -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>

            </div>
            <!-- /page content -->
            <!-- footer content -->
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
            <!-- /footer content -->
        </div>
    </div>



    



    <!-- Custom Theme Scripts -->
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>







@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - idrs4</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">idrs4</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - idrs4</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>*@
